$color-theme_1-hex: #6677d9;
$color-theme_2-hex: #364573;
$color-theme_3-hex: #292f40;
$color-theme_4-hex: #03a688;
$color-theme_5-hex: #f2ae2e;
$color-theme_6-hex: #ff4640;
$linkColor: #3abdff;
@mixin Btn($clr) {
  transition: 0.3s all;
  border-radius: 20px;
  color: white;
  background: $clr;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.5em;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s all;
  &:hover {
    text-shadow: 0px 2px 9px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 20px -1px lighten($color: $clr, $amount: 8);
  }
  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    &:hover {
      text-shadow: none;
      box-shadow: none;
    }
  }
}
