@use "variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Lato:ital@0;1&family=Poppins:wght@400;500&display=swap");

* {
  font-family: poppins;

  &::selection {
    background: lighten($color: $color-theme_1-hex, $amount: 10);
  }
}

body {
  background: $color-theme_3-hex;
  margin: 0;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.createBtn {
  @include Btn($color-theme_4-hex);
  margin-top: 30px;
}

.clearBtn {
  @include Btn($color-theme_6-hex);
}

.loadBtn {
  @include Btn(rgb(255, 157, 0));
}

textarea,
input[type="text"] {
  font-size: 30px;
  width: 80%;
  transition: 0.3s all;
  border: 5px solid $color-theme_5-hex;
  border-radius: 25px;
  padding: 16px;
  outline: none;
  color: $color-theme_2-hex;
  font-weight: bold;
  background: #ffffff;
  &::placeholder {
    color: $color-theme_2-hex;
    opacity: 0.7;
  }
  &:focus,
  :focus-visible {
    box-shadow: 0px 0px 20px 1px
      lighten($color: $color-theme_5-hex, $amount: 20);
  }
}
.TextLength {
  pointer-events: none;
  border-radius: 10px;
  margin-top: -62px;
  color: white;
  background: rgba($color: $color-theme_1-hex, $alpha: 0.7);
  backdrop-filter: blur(8px);
  box-shadow: 0px 0px 20px 2px lighten($color: $color-theme_1-hex, $amount: 8);
  text-shadow: 0px 2px 9px rgba(0, 0, 0, 0.25);
  padding: 8px;
}

textarea {
  resize: none;
  min-height: 41vh;
}

.footer {
  border-radius: 20px 20px 0 0;
  background: $color-theme_2-hex;
  padding: 10px 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 18px;
  transition: visibility 0.2s, opacity 0.2s linear;
}

a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

a {
  cursor: pointer;
  transition: 0.4s all;
  color: $linkColor;
  display: inline-block;
  position: relative;
  text-decoration: none;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $linkColor;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    border-radius: 100px;
  }
  &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  &:hover {
    text-shadow: 0px 0px 20px $linkColor;
  }
}
.info {
  margin-top: 10px;
  color: white;
  text-align: center;
}
br {
  content: "";
  margin: 2em;
  display: block;
  font-size: 25%;
}
