@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Lato:ital@0;1&family=Poppins:wght@400;500&display=swap");
* {
  font-family: poppins;
  transition: 0.3s all !important;
}
*::selection {
  background: #8f9be3;
}
*:focus-visible {
  outline: 4px solid #3abdff;
  box-shadow: 0px 0px 20px 2px #63cbff;
}

body {
  background: #292f40;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.createBtn {
  transition: 0.3s all;
  border-radius: 20px;
  color: white;
  border: none;
  padding: 0.6em 1.2em;
  min-width: 150px;
  width: auto;
  font-size: 1.5em;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s all;
  background: #03a688;
  background: linear-gradient(261.62deg, #03a688 13.66%, #04c4a1 88.71%);
  margin-top: 30px;
}
.createBtn:hover {
  text-shadow: 0px 2px 9px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 20px -1px #04cea9;
}
.createBtn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.createBtn:disabled:hover {
  text-shadow: none;
  box-shadow: none;
}

.clearBtn {
  transition: 0.3s all;
  border-radius: 20px;
  color: white;
  border: none;
  padding: 0.6em 1.2em;
  min-width: 150px;
  width: auto;
  font-size: 1.5em;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s all;
  background: #ff4640;
  background: linear-gradient(261.62deg, #ff4640 13.66%, #ff645f 88.71%);
}
.clearBtn:hover {
  text-shadow: 0px 2px 9px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 20px -1px #ff6e69;
}
.clearBtn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.clearBtn:disabled:hover {
  text-shadow: none;
  box-shadow: none;
}

.loadBtn {
  transition: 0.3s all;
  border-radius: 20px;
  color: white;
  border: none;
  padding: 0.6em 1.2em;
  min-width: 150px;
  width: auto;
  font-size: 1.5em;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s all;
  background: #ff9d00;
  background: linear-gradient(261.62deg, #ff9d00 13.66%, #ffa91f 88.71%);
}
.loadBtn:hover {
  text-shadow: 0px 2px 9px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 20px -1px #ffad29;
}
.loadBtn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.loadBtn:disabled:hover {
  text-shadow: none;
  box-shadow: none;
}

textarea,
input[type=text] {
  font-size: 30px;
  width: 80%;
  border: 5px solid #f2ae2e;
  border-radius: 25px;
  padding: 16px;
  outline: none;
  color: #364573;
  font-weight: bold;
  background: #ffffff;
  caret-color: #f2ae2e;
  transition: 0.3s all;
}
textarea::placeholder,
input[type=text]::placeholder {
  color: #364573;
  opacity: 0.75;
}
textarea::selection,
input[type=text]::selection {
  background: #f2ae2e;
}
textarea:focus,
textarea :focus-visible,
input[type=text]:focus,
input[type=text] :focus-visible {
  outline: none;
  box-shadow: 0px 0px 20px 1px #f8d38e;
}

.TextLength {
  pointer-events: none;
  border-radius: 10px;
  margin-top: -62px;
  color: white;
  background: rgba(102, 119, 217, 0.7);
  backdrop-filter: blur(8px);
  box-shadow: 0px 0px 20px 2px #8794e1;
  text-shadow: 0px 2px 9px rgba(0, 0, 0, 0.25);
  padding: 8px;
}

textarea {
  resize: none !important;
  min-height: 41vh;
}

.footer {
  border-radius: 20px 20px 0 0;
  background: #364573;
  padding: 10px 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 18px;
}

a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

a {
  cursor: pointer;
  color: #3abdff;
  display: inline-block;
  position: relative;
  text-decoration: none;
}
a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #3abdff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  border-radius: 100px;
}
a:hover::after, a:focus-visible::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
a:hover {
  text-shadow: 0px 0px 20px #3abdff;
}
a:focus, a:focus-visible {
  outline: none;
  box-shadow: none;
}

.info {
  margin-top: 12px;
  color: white;
  text-align: center;
}

br {
  content: "";
  margin: 2em;
  display: block;
  font-size: 25%;
}

.accessdenied {
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
}
.accessdenied img {
  border-radius: 16px;
}

/*# sourceMappingURL=style.css.map */
